@{
    ViewBag.Title = "About Us";
}

<div class="row">
    <div class="top-bottom-padding">
        <h2>@ViewBag.Title.</h2>
        <hr />

        <p> This applications helps the doctors to maintain their daily practices and get appoitments online.</p>
        <p> This application helps patients find doctors in their area and book appointments online instantly.</p>
        <p> This will facilate the doctors and patients to interact easily.</p>
    </div>
</div>

