@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GET A DOCTOR</h1>
    <p class="lead">Web application helps to find a doctor and make an appointment.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            The application is at very intial stage over the time grow to full scale application.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Technology Used</h2>
        <p>ASP.NET MVC, EntityFramework, DI, SQL SERVER EXPRESS and Bootstrap.</p>
    </div>
    <div class="col-md-4">
        <h2>Quote</h2>
        <p>
            “Life would be much easier if I had the source code.”
            ― Anonymous
        </p>
    </div>
</div>