@using GetADoctor.Models

@if (User.IsInRole(UserRoles.Administrator.ToString()))
{
    <li>@Html.ActionLink("State", "Index", "States", new { Area = "Admin" }, new { })</li>
    <li>@Html.ActionLink("City", "Index", "Cities",  new { Area = "Admin" }, new { })</li>
    <li>@Html.ActionLink("User", "Index", "Cities",  new { Area = "Admin" }, new { })</li>
}
