
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(http://fonts.gstatic.com/s/ubuntu/v7/ODszJI8YqNw8V2xPulzjO_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(http://fonts.gstatic.com/s/ubuntu/v7/iQ9VJx1UMASKNiGywyyCXvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(http://fonts.gstatic.com/s/ubuntu/v7/WkvQmvwsfw_KKeau9SlQ2_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(http://fonts.gstatic.com/s/ubuntu/v7/gYAtqXUikkQjyJA1SnpDLvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(http://fonts.gstatic.com/s/ubuntu/v7/Wu5Iuha-XnKDBvqRwQzAG_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(http://fonts.gstatic.com/s/ubuntu/v7/sDGTilo5QRsfWu6Yc11AXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 16px;
    font-family: 'Ubuntu';
}
.center {
    margin: auto;
    float: none;
}

.top-bottom-padding {
    padding-bottom: 10px;
    padding-top: 70px;
}

a:link {
    text-decoration: none;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 400px;
}

.new_header{
    text-align: center;
    font-size: 25px;
}

.page-wrapper{
    min-height: 100%;
    position: relative;
    background: #fff;
}

.doctor-page-container{
    padding: 0.1em 0;
    box-sizing: border-box;
}

.doctor-page-container .search-container{
    background-color: #f0f0f5;
    width: 960px;
    margin: 0 auto;
}

.search-row-container {
    background-color: #fff;
    box-sizing: border-box;
    border-bottom: 8px solid #f6f6f6;
    left: -8px;
    margin-top: 10px;
    margin-bottom: 6px;
}
.doctor-search-container {   
    background-color: #e7e7e7;
}

.city-container{
    position: relative;
    display: inline-block;
    width: 200px;
}

.speciality-container{
    position: relative;
    display: inline-block;
    width: 250px;
}

.search-keywords{
    position: relative;
    display: inline-block;
}

.search-button {
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
    color: #4d4d4d;
    border: 1px solid #1ebef0;
    background: #1ebef0;
    text-decoration: none;
    width: 100px;
    border-radius: 2px;
}

.profile-container {
    width: 880px;
    float: left;
    margin: 15px 10px 0 0;
}

.profile-container .profile-summary {
    padding: 20px;
    box-sizing: border-box;
    background: #FFF;
}

.doc_photo {
    width: 120px;
    float: left;
}

.doctor-details-container {
    float: left;
    width: 720px;
    position: relative;
}

.doctor-details-wrapper {
    float: left;
    width: 450px;
}

.doctor-summary {
    width: 720px;
    font-size: 14px;
    line-height: 1.3;
    margin-top: 10px;
    float: right;
}

.home-features-wrapper {
    margin-bottom: -3em;
}

.home-feature {
    line-height: 2;
    margin-bottom: 3em;
    padding: 36px;
    text-align: center;
    box-shadow: inset 0 0 0 1px #e5e5e5;
    border: 0;
}

.doc-prof-row {
    min-height: 180px;
    position: relative;
}

hr {
    height: 1px;
    color: #123455;
    background-color: #e5e5e5;
    border: none;
}

.top-home-banner {
    background: url('Images/doctor_banner.jpg') no-repeat !important;
    background-size: cover;
    min-height: 400px;
    padding-top: 90px;
    margin-bottom: 15px;
}
.top-home-banner .font-48 {
    font-size: 3.2rem;
}
.home-search-form input#keyword,
.home-search-form input#location {
    border-radius: 3px;
}

.padding-top-40 {
    padding-top: 40px;
}

.padding-top-30 {
    padding-top: 30px;
}

.padding-bottom-15 {
    padding-bottom: 15px;
}

.padding-0 {
    padding: 0px!important;
}

.search-stacks {
    min-height: 30vh !important;
}

/*.search-stacks .nav-tabs {
    margin-bottom: 1px;
}

.search-stacks .tab-content {
    background: rgba(32, 85, 181, 0.69);
}*/