
@{
    ViewBag.Title = "Not Found";
}

<div class="row top-bottom-padding">
    <div class="banner">
        <img src="../Content/Uploads/Images/banner.png" alt="" />
    </div>
    <div class="text">
        <h4>The requested url was not found !...</h4>
    </div>
</div>


