
@{
    ViewBag.Title = "Server Error";
}

<div class="row top-bottom-padding">
    <div class="banner">
        <img src="../Content/Uploads/Images/banner500.png" alt="" />
    </div>
    <div class="text">
        <h4>Somethings is wrong. Error!...</h4>
    </div>
</div>


